.article{
    display: flex;
    flex-direction: column;
    width: 384px;
    height: 547px;
    gap: 15px;
    justify-content: space-between;
    &__img{
        width: 384px;
        height: 352px;
        flex-shrink: 0;
        border-radius: 45px;
    }
    &__topics{
        display: flex;
        gap: 10px;
    }
    &__topic{
        display: flex;
        padding: 8px;
        align-items: flex-start;
        gap: 8px;
        border-radius: 32px;
        border: 1px solid #DADADA;
        background: #FFF;
        color: #6C6C6C;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__title{
        color: #3F3F3F;
        font-family: "Montserrat Alternates";
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__link{
        display: flex;
        color: #FF6565;
        font-family: "Montserrat Alternates";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        text-decoration: underline;
    }
}