.user-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    &__content{
        display: flex;
        flex-direction: column;
        &__name{
            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
           
        }
        &__pets{
            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            opacity: 0.5;
           
        }
    }
}
.logout {
    margin-left: 50px;
}
