.att{
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
    }
}