.request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main {
    display: flex;
    padding-top: 75px;
    flex-direction: column;
    width: 1248px;
    gap: 10px;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info {
        display: flex;
        gap: 75px;
        align-items: center;
    }
    &__back{
        cursor: pointer;
    }
    &__relevance{
        background-color: #549F57;
        width: 132px;
        height: 37px;
        border-radius: 70px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
