.header {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
   
    display: flex;
    flex-direction: column;
    height: 53px;
    max-width: 1248px;
    padding-top: 25px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 227px;
        height: 67px;
    }
    &__left {
        display: flex;
        justify-content: center;
        gap: 20px;
        align-items: center;
    
    }
    
    &__login {
        background-color: #faf4f4;
        cursor: pointer;
        border: none;
        width: 165px;
        height: 54px;
        border-radius: 106px;
        border: 2px solid #ff5b56;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ff5b56;
        font-size: 24px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        transition: 0.3s;
        &:hover {
            background-color: #ff5b56;
            color: #ffffff;
        }

        &:hover::before {
            transform: translateX(-4px);
            transition: transform 500ms ease-in-out;
        }
    }
    &__navigation {
        display: flex;
        align-items: center;
        gap: 50px;
    }
    &__link {
        text-decoration: none;
        font-size: 22px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #252525;
        cursor: pointer;
        &:after {
            display: block;
            content: '';
            border-bottom: solid 2px #ff5b56;
            border-radius: 100px;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
        }

        &:before {
            position: absolute;
            bottom: 1.2em;
            left: 0;
            width: 100%;
        }

        &:hover {
            &:after,
            &:before {
                transform: scaleX(1);
            }
        }
    }
}

.modal {
    border-radius: 40px;
    & &__wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 532px;
        height: 641px;
        flex-shrink: 0;
        border-radius: 40px;
        border: 2px solid #FFF;
        background: #FFF;
        padding: 40px;
    }

    &__title{
        margin-bottom: 10px;
        font-size: 24px;
        color: #3D2D2D;
        text-align: center;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__inputs{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &_i{
            padding: 15px 300px 25px 20px;
            align-items: center;
            flex-shrink: 0;
            border-radius: 24px;
            border: 1px solid #8B6464;
            background: #FFF;
            width: 389px;
            height: 69px;
        }
    }

    &__descr{
        max-width: 530px;
        font-size: 15px;
        line-height: 20px;
    }

    &__button {
        width: 389px;
        height: 67px;
        flex-shrink: 0;
        border-radius: 25px;
        background: #FF5B56;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px /* 92.308% */;
    }

    &__link {
        color: #ff5b56;
        cursor: pointer;
    }
}
