.acc_profile{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    &__petinf{
        display: flex;
        flex-direction: column;
        &__varblood{
            h3{
                color: #252525;
                font-family: "Montserrat Alternates";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            &__red{
                color: #FF5B56;
                
            }
           
        }

    }
    
}