.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__profile{
        display: flex;
        justify-content: space-between;
        padding-top: 75px;
        width: 1248px;
    }
}
