.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    &__main{
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        max-width:1240px ;
    }
    &__cards {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1248px;
        height: 558px;
        overflow-x: auto;
        gap: 48px;
        margin-bottom: 50px;
        transform-origin: right top;
        &::-webkit-scrollbar {
            width: 50px;
            height: 5px;
        }

        &::-webkit-scrollbar-thumb {
            width: 10px;
            height: 5px;
            background-color: #ff5b56;
            border-radius: 40px;
        }
        &::-webkit-scrollbar-track {
            background-color: #14102414;
            border-radius: 40px;
        }
    }
    &__text-dec{
        color: #555454;
        font-family: "Montserrat Alternates";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__title {
        display: flex;
        flex-shrink: 0;
        color: #252525;
        font-family: 'Montserrat Alternates';
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: flex-start;
        margin-bottom: 20px;
    }
    &__instruction {
        display: flex;
        max-width: 1248px;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 30px;
        margin-bottom: 50px;
        // align-items: center;
        // height: 100vh;
    }
    &__instructions {
        flex: 1;
        width: 1248px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__img {
        display: flex;
        background-image: url(./paws1.svg);
        width: 1371px;
        height: 560px;
        justify-content: center;
        align-items: center; 
        &__text{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            font-weight: 600;
            text-align: center;
        }
    }
    &__img-instruction {
        display: flex;
        justify-content: center;
        background-image: url(.//dog.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 580px;
        height: 751px;
    }
    &__more-btn {
        flex-shrink: 0;
        color: #ff5b56;
        font-family: 'Montserrat Alternates';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: end;
        &::after {
            background-image: url(./arrow.svg);
        }
    }
    &__how-instruction {
        display: flex;
        color: #555454;
        font-family: 'Montserrat Alternates';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__fastcards {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1248px;
        gap: 20px;
        margin-bottom: 50px;
    }
    &__blockinfo {
        display: flex;
        background-image: url('./blockinfo.png');
        background-size: cover;
        width: 1234px;
        height: 704px;
        border-radius: 45px;
        &__text{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            font-weight: 600;
            color: #fff;
            text-align: center;
        }
    }
    &__blockinfo-wrap {
        width: 1274.118px;
        height: 815.71px;
    }
    &__articles {
        display: flex;
        gap: 40px;
    }
    &__more-articles {
        display: inline-flex;
        padding: 19.077px;
        justify-content: center;
        align-items: center;
        gap: 9.538px;
        border-radius: 28.615px;
        background: #ff6565;
        color: #fff;
        font-family: 'Montserrat Alternates';
        font-size: 19.077px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 169px;
        height: 61px;
        align-self: center;
    }
    &__faq {
        width: 1248px;
        height: 891px;
        display: flex;
        flex-direction: column;
        padding: 30px 30px 24px 30px;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 45px;
        background: #fff;
        box-shadow: 0px 35px 78px 0px rgba(112, 102, 102, 0.1), 0px 141px 141px 0px rgba(112, 102, 102, 0.09), 0px 317px 190px 0px rgba(112, 102, 102, 0.05),
            0px 564px 226px 0px rgba(112, 102, 102, 0.01), 0px 882px 247px 0px rgba(112, 102, 102, 0);
        margin-bottom: 150px;
        gap: 10px;
    }
    &__table{
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }
    &__questions {
        display: flex;
        padding: 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 572px;
        gap: 30px; /* Расстояние между вопросами */
        width: 100%; /* Занимать всю ширину родительского блока */
        max-width: 564px; /* Максимальная ширина вопросов */
        overflow: hidden; /* Предотвращает выход текста за границы */
    }
}
