.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    // gap: 40px;
    // max-width: 1248px;
    &__cards {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1248px;
        height: 468px;
        overflow-x: scroll;
        gap: 48px;
        margin-bottom: 50px;
        transform-origin: right top;
    }
    &__title {
        display: flex;
        flex-shrink: 0;
        color: #252525;
        font-family: 'Montserrat Alternates';
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: flex-start;
        margin-bottom: 50px;
    }
    &__instruction {
        display: flex;
        max-width: 1248px;
        justify-content: space-between;
        flex-direction: row;
        column-gap: 30px;
        margin-bottom: 50px;
        // align-items: center;
        // height: 100vh;
    }
    &__instructions {
        flex: 1;
        width: 1248px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__img {
        display: flex;
        background-image: url(./paws.png);
        width: 1371px;
        height: 560px;
    }
    &__img-instruction {
        display: flex;
        justify-content: center;
        background-image: url(.//dog.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 580px;
        height: 751px;
    }
    &__how-instruction {
        display: flex;
        color: #555454;
        font-family: 'Montserrat Alternates';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__fastcards {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1248px;
        gap: 30px;
        margin-bottom: 50px;
    }
    &__blockinfo {
        display: flex;
        background-image: url('./blockinfo.png');
        background-size: cover;
        width: 1234px;
        height: 704px;
        border-radius: 45px;
    }
    &__blockinfo-wrap{
        width: 1274.118px;
        height: 815.71px;
    }
    &__articles{
        display: flex;
        gap: 40px;
    }
    &__more-articles{
        display: inline-flex;
        padding: 19.077px;
        justify-content: center;
        align-items: center;
        gap: 9.538px;
        border-radius: 28.615px;
        background: #FF6565;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 19.077px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 50px;
    }
    &__faq{
        width: 1248px;
        height: 891px;
        display: flex;
        padding: 40px 40px 24px 40px;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 45px;
        background: #FFF;
        box-shadow: 0px 35px 78px 0px rgba(112, 102, 102, 0.10), 0px 141px 141px 0px rgba(112, 102, 102, 0.09), 0px 317px 190px 0px rgba(112, 102, 102, 0.05), 0px 564px 226px 0px rgba(112, 102, 102, 0.01), 0px 882px 247px 0px rgba(112, 102, 102, 0.00);
        margin-bottom: 150px;
    }
    &__questions{
        width: 572px;
        display: flex;
        padding: 0px 8px 344px 0px;
        flex-direction: column;
        align-items: flex-start;

    }
}
