.fdonorform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0px;
    margin-top: 50px;
    h4{
        font-family: 'Montserrat Alternates';
        font-style: normal;
        align-self: center;
        font-weight: 700;
        font-size: 45px;
        flex-direction: column;
        height: 55px;
        width: 604px;
        span{
            color: #FF5B56;

        }
    }
    h3{
        
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50;
        max-width: 1200px;
        color: #252525;
        font-family: "Montserrat Alternates";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 50px /* 178.571% */;
        height: 40px;
    }
    &__oz{
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left:50px ;
        button{
            margin-top: 3em;
            width: 250px;
            height: 64px;
           
            flex-shrink: 0;
            border-radius: 25px;
            background: #FF5B56;
        }
        
    }
    &__st1{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        h3{
            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left:50px ;
            margin-top: 60px;
           
        }
        span{
            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 34px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-left:50px ;
            margin-top: 30px;
           
        }
        &__pets{
            width: 755px;
            height: 367px;
            text-align: start;
            flex-shrink: 0;
            border-radius: 45px;
            background: #FFF;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
            margin-left:50px ;
            margin-top: 20px;
            .pet{
                margin-left: 30px;
                margin-top: 30px;
            }
            h3{
                margin-top: 10px;
                margin-left: 30px;
            }

        }
    }
    &__st2{
        display: flex;
        flex-direction: column;
        h2{
            color: #252525;
            margin-top: 50px;
            font-family: "Montserrat Alternates";
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-left: 50px;
        }
        h3{
            
            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 34px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
           
        }
        &__inp1{
            margin-top: 10px;
            width: 790px;
            height: 190px;
            margin-left: 50px;
            flex-shrink: 0;
            border-radius: 25px;
            border: 2px solid #252525;
            opacity: 0.7;
            input{
                margin-left: 20px;
                margin-top: 10px;
                width: 100%;

                
            }
        }
        &__inp2{
            width: 330px;
            height: 59px;
            margin-top: 10px;
            margin-left: 50px;
            flex-shrink: 0;
            border-radius: 25px;
            border: 2px solid #252525;
            opacity: 0.7;
            input{
                margin-left: 20px;
                margin-top: 10px;
                width: 100%;
            }
        }
        &__inp3{
            width: 330px;
            height: 59px;
            margin-top: 10px;
            margin-left: 50px;
            flex-shrink: 0;
            border-radius: 25px;
            border: 2px solid #252525;
            opacity: 0.7;
            input{
                margin-left: 20px;
                margin-top: 10px;
                width: 100%;
            }
        }
        &__inp4{
            width: 513px;
            height: 59px;
            margin-top: 10px;
            margin-left: 50px;
            flex-shrink: 0;
            border-radius: 25px;
            border: 2px solid #252525;
            opacity: 0.7;
            input{
                margin-left: 20px;
                margin-top: 10px;
                width: 100%;
            }
        }
        &__inp5{
            width: 330px;
            height: 59px;
            margin-top: 10px;
            margin-left: 50px;
           
            flex-shrink: 0;
            border-radius: 25px;
            border: 2px solid #252525;
            opacity: 0.7;
            input{
                margin-left: 20px;
                margin-top: 10px;
                width: 100%;
            }
        }
        h5{
            margin-left: 50px;
            margin-top: 10px;
            color: #000;
            font-family: "Montserrat Alternates";
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &__checkbox{
            display: flex;
            flex-direction: row;
            
            align-items: center;
            margin-left: 50px;
            input{
            width: 26px;
            height: 26px;
            align-items: center;
            flex-shrink: 0;
            border-radius: 10px;
            border: 2px solid #000;
            opacity: 0.7;
            }
            span{
                margin-left: 20px;
            }
        }


    }
    &__st3{
        margin-left: 50px;
        margin-top: 50px;
        h2{
            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 45px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
           
        }
        h5{
            width: 1014px;

            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 34px;
            font-style: normal;
            font-weight: 500;
            line-height: 50px /* 147.059% */;
           
        }
        &__imgi{
            display: block;
            position: relative;
            width: 376px;
            height: 190px;
           
            flex-shrink: 0;
            border-radius: 25px;
            border: 2px solid #252525;
            opacity: 0.7;
            input{
                width: 100%;
                height: 100%;
                visibility: hidden;
            }
            span{
                position: absolute;
                left: 10%;
                top:20%
            }
        }

    }
    &__bot{
        margin-left: 50px;
        span{
            width: 1100px;
            
            color: #252525;
            font-family: "Montserrat Alternates";
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
            line-height: 50px /* 178.571% */;
        }
        &__btn{
            color: #FFF;
            font-family: "Montserrat Alternates";
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            button{
                width: 292px;
                height: 64px;
               
                flex-shrink: 0;
                border-radius: 25px;
                background: #FF5B56;
            }
        }
    }


}